.idea/
cmake-build-debug/
lw1/build/
lw1/CMakeFiles/
src/Lexer/bin
src/Lexer/obj
tests/Lexer.UnitTests/bin
tests/Lexer.UnitTests/obj
.vs
docs/competitors/c++/task1-CircleSquare/build
docs/competitors/c++/task2-GCD/build
docs/competitors/c++/task3-Reverse/build